<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobileapplicationproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_apklogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".About"
            android:screenOrientation="portrait"/>
        <activity android:name=".UserScanEstabViewer"
            android:screenOrientation="portrait"/>
        <activity android:name=".DriverAddVehicle"
            android:screenOrientation="portrait"/>
        <activity android:name=".EstabAddEmployee"
            android:screenOrientation="portrait"/>
        <activity android:name=".EmployeeActivation"
            android:screenOrientation="portrait"/>
        <activity android:name=".DriverHistory"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UserHistory"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ProfileTabbed"
            android:label="Profile"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".EstabDashboard"
            android:screenOrientation="portrait"/>
        <activity android:name=".EmployeeeProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".DriverDashboard"
            android:screenOrientation="portrait"/>
        <activity android:name=".EmployeeMain"
            android:screenOrientation="portrait"/>
        <activity android:name=".UserDashboard"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegisterForm"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".IntroForm"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>